---
pagination:
  data: servicios
  size: 1
  alias: servicio
  addAllPagesToCollections: true
permalink: "servicio/{{servicio.id}}/index.html"
tags:
  - servicio
---
{% extends "src/base.njk" %}


{% block head %}
    <title>Catálogo de Trámites | {{servicio.name}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--LINK DE REFERENCIA PARA RATING https://www.youtube.com/watch?v=KdO9P8FnVN4&t=0s-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block content %}
    <div class="sidebar d-flex">
        <div><a class="btn" href="#">Evalua</a></div>
        <div><a class="btn" href="/quejas.html">Reporta</a></div>
    </div>
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="/index.html" rel="nofollow"><i class="fi-rs-home mr-5"></i>Inicio</a>
                <span></span> {%for item in collections.categoriaesp2 %}{% if item.data.categoriaesp2.name == servicio.subcategory.name %} {% for categoria in collections.categorias2 %}{% if categoria.data.categoria2.id == item.data.categoriaesp2.category | lastSlash %}<a href="{{categoria.url}}">{{categoria.data.categoria2.name}}</a> {%endif%}{%endfor%}{%endif%}{%endfor%}
                <span></span> {%for item in collections.categoriaesp2 %}{% if item.data.categoriaesp2.name == servicio.subcategory.name %} <a href="{{item.url}}">{{item.data.categoriaesp2.name}}</a> {%endif%}{%endfor%}
                <span></span> {{servicio.name}}
            </div>
        </div>
    </div>
    <div class="page-content mb-50">
        <div class="container">
            <div class="row">
                <div class="col-xl-11 col-lg-12 m-auto">
                    <div class="row">
                        <div class="col-lg-3 primary-sidebar sticky-sidebar pt-50">
                            <div class="widget-area">
                                <div class="sidebar-widget widget-category-2 mb-50">
                                    <h5 class="section-title style-1 mb-30">Especificaciones</h5>
                                    <ul>
                                        <li>
                                            
                                            <a href="{% for institucion in collections.instituciones %}{% if institucion.data.instituciones.name === servicio.institution.name%}{{institucion.url}}{%endif%}{%endfor%}"> <img src="/ELEMENTOS/ICONOS/ICONOS 2-21.png" alt="" />{{servicio.institution.name}}</a>
                                        </li>
                                        <li>
                                            <a style="pointer-events:none" href="shop-grid-right.html"> <img src="/ELEMENTOS/ICONOS/ICONOS 2-10.png" alt="" />Resultado: {{servicio.typeOfDocumentObtainable}}</a>
                                        </li>
                                        {% if (servicio.typeOfCost == null) or (servicio.typeOfCost == "fixed") %}
                                        <li>
                                            <a style="pointer-events:none" href="shop-grid-right.html"> <img src="/ELEMENTOS/ICONOS/ICONOS 2-11.png" alt="" />Costo: {{servicio.currency.symbol}} {{servicio.cost | safe}} </a>
                                        </li>
                                        {% else %}
                                        <li>
                                            <a style="pointer-events:none" href="shop-grid-right.html"> <img src="/ELEMENTOS/ICONOS/ICONOS 2-11.png" alt="" />Costo: {{servicio.currency.symbol}} {{servicio.variableCostDescription | rmj | safe}} </a>
                                        </li>
                                        {% endif %}
                                        <li>
                                            <a style="pointer-events:none" href="shop-grid-right.html"> <img src="/ELEMENTOS/ICONOS/ICONOS 2-12.png" alt="" />Tiempo de Respuesta: {{servicio.timeResponse}}</a>
                                        </li>
                                        <li>
                                            <a href="/quejas.html"> <img src="/ELEMENTOS/ICONOS/ICONOS 2-13.png" alt="" />¿Tienes problemas con este trámite? Comunícate con nosotros</a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- Product sidebar Widget -->
                                <div class="sidebar-widget widget-category-2 mb-50">
                                    <h5 class="section-title style-1 mb-30">Redes</h5>
                                    <div class="d-flex">
                                        <div class="header-action-icon-2">
                                            <a href="#" class="nav-link-social icono-link" target="_blank"><i class="fab fa-facebook-f f-30" style="padding-right:1rem" aria-hidden="true" ></i></a>              
                                        </div>
                                        <div class="header-action-icon-2">
                                            <a href="#" class="nav-link-social icono-link" target="_blank"><i class="fab fa-twitter f-30" style="padding-right:1rem" aria-hidden="true" ></i></a>
                                        </div>
                                        <div class="header-action-icon-2">
                                            <a href="#" class="nav-link-social icono-link" target="_blank"><i class="fab fa-instagram f-30" style="padding-right:1rem" aria-hidden="true" ></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-lg-9">
                            <div class="single-page pt-50 pl-30">
                                <div class="single-header style-2">
                                    <div class="row">
                                        <div class="col-xl-10 col-lg-12 m-auto">
                                            <h6 class="mb-10"><a href="#">Trámite</a></h6>
                                            <h2 class="mb-10">{{servicio.name}}</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-content">
                                    <div class="row">
                                        <div class="col-xl-10 col-lg-12 m-auto texto-servicio">
                                            <p>{{servicio.description | rmj |safe}}</p>
                                            
                                            <h4>Normativa</h4>
                                            <p>{{servicio.normative | rmj |safe}}</p>

                                            
                                            <div class="row my-4">
                                                <div class="col-lg-6">
                                                    <canvas id="pieChart" width="400" height="400"></canvas>
                                                </div>

                                                <div class="col-lg-6">
                                                    <canvas id="lineChart" width="400" height="400"></canvas>
                                                </div>
                                            </div>
                                            
                                            <h4>Requerimientos</h4>
                                            <p>{{servicio.requirements | rmj |safe}}</p>

                                            
                                            <h4>Pasos</h4>
                                            <p>{{servicio.instructions | rmj |safe}}</p>
                                            <h4>Ir al trámite en línea</h4>
                                            <a class="btn mb-20" href="{{servicio.url}}" target="_blank">Ver Trámite</a>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
<script>
    var ctx = document.getElementById('pieChart').getContext('2d');
    var pieChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
            datasets: [{
                label: '# of Votes',
                data: [12, 19, 3, 5, 2, 3],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true
        }
    });
</script>

<script>
    var ctx = document.getElementById('lineChart').getContext('2d');
    var lineChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
            datasets: [{
                label: 'Sales',
                data: [65, 59, 80, 81, 56, 55, 40],
                fill: false,
                borderColor: 'rgb(75, 192, 192)',
                tension: 0.4 // This value controls the curve of the line
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    display: true
                }
            },
            scales: {
                x: {
                    title: {
                        display: true,
                        text: 'Month'
                    }
                },
                y: {
                    title: {
                        display: true,
                        text: 'Value'
                    },
                    beginAtZero: true
                }
            }
        }
    });
</script>
{% endblock %}
